<mat-tab-group>
  <mat-tab label="API">
    <div class="apis">
      <app-showcase-api [apis]="apis"></app-showcase-api>
    </div>
  </mat-tab>
  <mat-tab label="EXAMPLES">
    <div class="examples">
      <app-showcase-example title="Default" [code]="defaultCode">
        <shimmer-rect />
      </app-showcase-example>
      <app-showcase-example title="Width & Height adjustment" [code]="widthCode">
        <shimmer-rect [width]="520" [height]="25" />
      </app-showcase-example>
      <app-showcase-example title="Border radius adjustment" [code]="borderRadiusCode">
        <shimmer-rect borderRadius="0px" />
      </app-showcase-example>
      <app-showcase-example title="Random width adjustment" [code]="randomWidthCode">
        <shimmer-rect [isRandomWidth]="true" />
      </app-showcase-example>
    </div>

  </mat-tab>
</mat-tab-group>
