<div class="examples">
  <app-showcase-example title="Default" [code]="defaultCode">
    <shimmer-table/>
  </app-showcase-example>

  <app-showcase-example title="Rows adjustment" [code]="rowCode">
    <shimmer-table [rows]="10"/>
  </app-showcase-example>

  <app-showcase-example title="Columns adjustment" [code]="columnCode">
    <shimmer-table [columns]="3"/>
  </app-showcase-example>

  <app-showcase-example title="Rows and columns adjustment" [code]="colSpansCode">
    <shimmer-table [colSpans]="colSpans"/>
  </app-showcase-example>
</div>
