main {
  display: flex;
  flex: 1 1 auto;
  gap: 1rem;
  padding-right: 1rem;
  min-height: 100%;
  max-height: fit-content;
}

main .nav-bar {
  border-right: 1px solid #ccc;
}

main nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  font-size: 16px;
  color: black;
}

main nav span {
  text-decoration: none;
  padding: .5rem 1rem;
  width: 200px;
}

main nav span:hover {
  background-color: #ccc;
  cursor: pointer;
}

main nav span.active {
  background-color: #ccc;
}

main .wrapper {
  width: 100%;
  padding-bottom: 2rem;
}

