<mat-tab-group>
  <mat-tab label="API">
    <div class="apis">
      <app-showcase-api [apis]="apis"></app-showcase-api>
    </div>
  </mat-tab>
  <mat-tab label="EXAMPLES">
    <div class="examples">
      <app-showcase-example title="Default" [code]="defaultCode">
        <shimmer-product />
      </app-showcase-example>
      <app-showcase-example title="With Image" [code]="avatarWidthCode">
        <shimmer-product [avatarWidth]="250"/>
      </app-showcase-example>
      <app-showcase-example title="First Line Width" [code]="firstLineWidthCode">
        <shimmer-product [firstLineWidth]="250"/>
      </app-showcase-example>
      <app-showcase-example title="Second Line Width" [code]="secondLineWidthCode">
    <shimmer-product [secondLineWidth]="250"/>
      </app-showcase-example>
    </div>
  </mat-tab>
</mat-tab-group>
